.card {
  display: inline-block;
  text-align: center;
  margin: 5px;
  padding: 18px 15px 0 15px;
  width: 70px;
  height: 40px;

  font-size: 22px;
  background-color: lavenderblush;
  border: solid 1px black;
}

.hearts {
  background-color: #b85b59;
  border: solid 1px #9c4f5d;
  color: #f54262;
}

.diamonds {
  background-color: rgb(231, 69, 69);
  border: solid 1px red;
  color: #470914;
}

.spades {
}
